# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Ignorar ambientes virtuais
venv/
env/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de saída do Pygame
*.png
*.jpg
*.jpeg
*.gif
*.jfif

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração de IDE
.vscode/
.idea/

# Ignorar outros arquivos gerados
*.db
*.sqlite
